<div class="home-testimonials--wrapper">
    <div class="wrapper">
        <div class="grid">   
            <div class="grid__item medium-down--one-whole large--one-third feature-image-list--content">
                <h2>{{ section.settings.title }}</h2>
            </div>       

            <div class="grid__item medium-down--one-whole large--two-third home-testimonial-blocks">               
                {% for block in section.blocks %}
                    <div class="feature-image-list--item">
                        <div class="feature-image-list--item-wrapper"> 
                            <div class="grid" id="contentGrid">     
                                <div class="grid__item one-whole">     
                                    <figure class="image-wrapper review-wrapper">
                                        {% assign img_url = block.settings.img | img_url: '1x1' | replace: '_1x1.', '_{width}x.' %}
                                        <img src="{{ block.settings.img | img_url: '280x415' }}" srcset="{{ block.settings.img | img_url: '560x830', scale: 2 }} 2x" alt="Expert Testimonial">
                                    </figure>
                                </div>
                                <div class="grid__item one-whole">   
                                    <div class="container-text text-left">
                                        <div>{{ block.settings.content }}</div>     
                                        <span class="author">{{ block.settings.author }}</span>     
                                        <a class="btn large--hide medium-down--show" href="{{ section.settings.cta_url }}">{{ section.settings.cta_label }}</a>  
                                    </div>
                                </div>     
                            </div> 
                        </div>
                        <!-- /.feature-image-list--item --> 
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>

{% stylesheet 'scss' %}
    .home-testimonials {
        margin: 0 !important;
        padding: 132px 0;       
        color: var(--dark); 
        background-color: var(--tertiary);
        @media only screen and (max-width: 768px) {
            padding: 37px 0 40px;          
        }       
        .home-testimonials--wrapper {    
            .grid {        
                display: flex;
                @media screen and (max-width: 768px) {
                    flex-direction: column;            
                }
                .grid__item {
                    &:first-child {
                        justify-content: center;
                        display: flex;
                        flex-direction: column;
                    }
                }
            }
            .container-text {
                @media screen and (max-width: 768px) {
                    margin: 0px !important;              
                }
            }
            .home-testimonial-blocks {         
                //display: flex;
                //justify-content: space-around;
            }
            h2 {
                color: var(--dark);
                font-size: 50.8px;
                line-height: 65px;
                @media screen and (max-width: 768px) {
                    max-width: 280px;
                    font-weight: normal;
                    font-size: 28px;
                    line-height: 32px;           
                    margin: 0 0 27px 20px;
                }
            }
            .btn {
                background: var(--dark);
                color: var(--light);
                width: fit-content;
            }
            .feature-image-list--item {               
                figure {
                    //width: 280px;
                    //height: 415px;   
                    margin-left: 50px;             
                    overflow: hidden;   
                    //border-radius: 145px;
                    img {
                        @media screen and (max-width: 768px) {
                            width: 232px;           
                        }
                    }
                }
                &:nth-child(even) {
                    figure {
                        border-bottom-left-radius: 0;
                        border-bottom-right-radius: 0;
                    }
                }
                p {
                    text-align: left;    
                    max-width: 334px;
                    font-family: 'Roboto', sans-serif;
                    font-weight: normal;
                    font-size: 16px;
                    line-height: 32px;
                    color: #000000;
                    margin-bottom: 62px;
                    @media screen and (max-width: 768px) {      
                        max-width: 278px !important;   
                        font-size: 12px !important;
                        line-height: 24px !important;
                        margin:31px auto 23px;   
                    }    
                }
                .author {
                    font-family: 'Roboto', sans-serif;
                    font-weight: bold;    
                    font-size: 20px;
                    line-height: 32px;
                    color: #000000;
                    max-width: 310px; 
                    @media screen and (max-width: 768px) {
                        font-size: 16px; 
                        margin-left: 50px;               
                    }          
                }
                a.btn {
                    @media screen and (max-width: 768px) {
                        padding: 10px 36px;
                        font-family: 'Roboto', sans-serif;          
                        font-weight: bold;
                        font-size: 16px;
                        line-height: 19px;
                        margin-left: 50px;    
                        margin-top: 17px;                    
                    }    
                }
                .feature-image-list--item-wrapper {     
                    .grid {
                        display: flex;
                        @media screen and (min-width: 768px) {
                            align-items: center;    
                        } 
                    } 
                    #contentGrid {     
                        @media screen and (max-width: 768px) {        
                                  
                        }
                    }      
                }
            }
        }

        @media (max-width: 768px) {

            .home-testimonials--wrapper {
                
                .grid-uniform {
                    flex-direction: column;
                    margin: 0;
                }    
                .home-testimonial-blocks {
                    margin: 0;
                    padding: 0;

                    .feature-image-list--item {
                        .feature-image-list--item-wrapper {
                            width: 100%;
                            margin: auto;
                        }    
                    }
        
                    .grid__item {
                        padding: 0;
                        overflow: hidden;

                        figure {
                            img {
                                
                            }
                        }
                    }
                }
            }		
        }
    }
{% endstylesheet %}

{% javascript %}
$(document).ready(function(){
    const homeTestimonialsCarousel = $('');     
    let getSliderSettings = () => {
        return {
            infinite: true,
            dots: false,
            arrows: true,
            slidesToShow: 1,
            slidesToScroll: 1,
            responsive: [
            {
                breakpoint: 9999,
                settings: "unslick"
            },
            {
                breakpoint: 767,
                settings: {
                    infinite: true,
                    dots: false,
                    arrows: true,
                    slidesToShow: 1,
                    slidesToScroll: 1,
                }
            }
            ]
        }
    }
    homeTestimonialsCarousel.slick(getSliderSettings());
});
{% endjavascript %}

{% schema %}
{
    "name": "Home testimonials",
    "class": "home-testimonials",
    "settings": [
        {
            "type": "text",
            "id": "title",
            "label": "Title"
        },
        {
            "type": "text",
            "id": "cta_label",
            "label": "Button label"
        },
        {
            "type": "url",
            "id": "cta_url",
            "label": "Button link"
        }
        ],
        "blocks": [
            {
                "type": "testimonial",
                "name": "Testimonial",
                "settings": [
                    {
                        "type": "image_picker",
                        "id": "img",
                        "label": "Image"
                    },
                    {
                        "type": "richtext",
                        "id": "content",
                        "label": "Testimonial"
                    },
                    {
                        "type": "text",
                        "id": "author",
                        "label": "Author"
                    },
                    {
                        "type": "range",
                        "id": "max",
                        "label": "Stars",
                        "min": 1,
                        "max": 5,
                        "step": 1,
                        "default": 5
                    },
                    {
                        "type": "text",
                        "id": "date",
                        "label": "Date review",
                        "default": "12/11/2021"
                    }
                ]
            }
        ],
        "presets": [
            {
                "category": "Woven Earth",
                "name":"Home testimonials"
            }
        ]
}
{% endschema %}
