<div class="feature-product-container">   
    <div class="grid feature-product-container--grid">
        <div class="grid__item large--one-half product-box">   
            <div class="wrapper">   
                <div class="grid">
                    <div class="grid__item large--one-whole">
                        {% assign productFeature = section.settings.product %}
                        <div class="title-price-box">  
                            <h3>{{ productFeature.title }}</h3>
                            <h5 class="medium-down--hide">{{ productFeature.price | money_without_trailing_zeros }}</h5>            
                        </div>
                        <div class="reviews-badge-feature text-left">        
                            {% render 'judgeme_widgets', widget_type: 'judgeme_preview_badge', jm_style: '', concierge_install: false, product: productFeature %} 
                            <div class="title-price-box large--hide">
                                <h5 class="large--hide">{{ productFeature.price | money }}</h5>             
                            </div>
                        </div>
                        <div class="description">{{ section.settings.description }}</div>  
                        <a class="btn btn-feature-product" href="{{ section.settings.url }}">{{ section.settings.label }}</a>                            
                    </div>   
                </div>
            </div>
        </div>   
    </div>
</div>

<style>
    .home-feature-product {
        background-image: url({{ section.settings.product-image | img_url: 'master' }});
        background-position: top;   
        background-repeat: no-repeat;
        background-size: cover;
        height: 784px;
    }
    @media screen and (max-width: 768px) {
        .home-feature-product {
            background-image: url({{ section.settings.mobile-product-image | img_url: 'master' }});
            height: 1166px;
        }
    }
    @media screen and (max-width: 480px) {
        .home-feature-product {
            height: 860px;
        }
    }
</style>

{% stylesheet 'scss' %}
    .home-feature-product {
        margin-top: 0px !important;
        padding-left: 145px;
        padding-right: 208px;
        @media screen and (max-width: 768px) {   
            padding: 16px 20px 32px; 
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            align-items: center;         
        }
        .feature-product-container {
            .feature-product-container--grid {
                display: flex;
                flex-direction: row;
                justify-content: flex-end;
            }
        }           
        .product-box {
            padding: 223px 0 104px; 
            @media screen and (max-width: 768px) {
                padding: 0;  
            }            
            .title-price-box {
                display: flex;
                align-items: flex-end;
                justify-content: space-between; 
                @media screen and (max-width: 768px) {
                    justify-content: normal;       
                }                 
                h3 {
                    color: #1A322F;     
                    font-size: 44px;
                    line-height: 48px;
                    max-width: 404px; 
                    text-transform: capitalize; 
                    @media screen and (max-width: 768px) {
                        font-style: normal;
                        font-weight: normal;
                        font-size: 28px;
                        line-height: 32px;
                        max-width: 260px;      
                    }               
                }
                h5 {
                    font-size: 32px;
                    line-height: 43px;
                    text-align: center;   
                    color: #1A322F;
                    position: relative;
                    top: -10px; 
                    @media screen and (max-width: 768px) {
                        font-size: 24px;
                        line-height: 32px; 
                        top: 0;                 
                    }      
                }
            } 
            .reviews-badge-feature {
                .jdgm-prev-badge__stars {     
                    .jdgm-star {
                        color: #AE9565 !important;                     
                    }     
                }
                .jdgm-prev-badge__text {     
                    color: #AE9565 !important;
                    font-family: 'Roboto', sans-serif !important;  
                    font-style: normal !important;    
                    font-weight: 500 !important;
                    font-size: 20px !important;
                    line-height: 23px !important; 
                    margin-left: 24px !important;
                    text-decoration: underline;
                    @media screen and (max-width: 768px) {    
                        font-weight: normal;
                        font-size: 13px;
                        line-height: 15px;
                        margin-left: 8px !important;   
                    }         
                }
            }
            .description {
                color: #000000;
                font-family: 'Roboto', sans-serif;
                font-size: 18px;
                font-style: normal; 
                font-weight: normal;
                line-height: 32px;
                margin: 35px 0 30px; 
                width: auto;
                @media screen and (max-width: 768px) {
                    font-size: 12px;
                    line-height: 24px;
                    margin: 0 0 16px;  
                }  
            }
            .btn-feature-product {
                background-color: #1A322F;   
                font-family: 'Roboto', serif;
                font-weight: bold;
                font-size: 20px;
                line-height: 23px;
                padding: 13px 46px; 
                &:hover {
                    background-color: transparent;
                    border: 1px solid #1A322F;
                    color: #1A322F;
                    transition-duration: .5s;
                }
                @media screen and (max-width: 768px) {
                    font-size: 16px;
                    line-height: 19px;
                    padding: 10px 39px;        
                }        
            }  
        }      
    }
{% endstylesheet %}

{% schema %}    
    {
        "name": "Product",             
        "class": "home-feature-product",    
        "presets": [
            {
                "category": "Home",   
                "name": "Home Feature Product"   
            }     
        ],
        "settings": [ 
            {
                "type": "image_picker",
                "id": "product-image",
                "label": "Product Image"
            },   
            {
                "type": "image_picker",
                "id": "mobile-product-image",
                "label": "Mobile image"
            },  
            {
                "type": "product",
                "id": "product",
                "label": "Product"
            },
            {
                "type": "richtext",
                "id": "description",
                "label": "Product Description"
            },
            {
                "type": "url",
                "id": "url",
                "label": "Product Url"
            },      
            {
                "type": "text",
                "id": "label",
                "label": "Product Label",
                "default": "Shop Now"    
            }
        ]  
    }
{% endschema %}